@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
html{
    font-family: 'DejaVu', arial, sans-serif;
    font-size: 2rem;
}

button{
    font-size: 1rem;
    cursor: pointer;
}

#score::before{
    content: "Dots: "
}

#score{
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    color: darkgreen;
}

#score::after{
    content: "+" attr(data-score-increase);
    color: limegreen;
    font-size: .8em;
    vertical-align: top;
}

#rolls-left::before{
    content: "Rolls left: "
}
#rolls-left{
    top: 0;
    right: 0; 
}
#rolls-left::after{
    content: attr(data-minus-one);
    color: rgb(218, 66, 66);
    vertical-align: top;
    font-size: .8em;
}

#average-roll-since-purchace::before{
    content: "Ave Roll Since Last Purchace: "
}

.item{
    cursor: help
}

.die-holder{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;
    gap: 1%;
    user-select: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    outline: 1px solid green;
}

@keyframes die-hover {
    100%{
        font-size: 1.5em;
    }    
}

.die-holder:hover .die{
    animation: die-hover .5s ease-in-out alternate infinite;
}

.die{
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(100px, 10vw);
    height: min(100px, 10vw);
    border: 2px solid black;
    border-radius: 2%;
}



.hidden{
    display: none;
}

#game-shop-sep{
    --gap-size: 10vh;
    border: .1vh dashed black;
    margin-top: calc(var(--gap-size) / 2);
    margin-bottom: calc(var(--gap-size) / 2);
}
