:root{
    --money-color: rgb(255, 220, 106);
}

.shop-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

.shop-refresh{
    position: absolute;
    left: 0;
}

.shop-items{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2ex;
}

.upgrade-shop{
    margin-left: 0%;
}

.upgrade-shop::before{
    content: "Upgrade Shop: "
}

.buy-button{
    color: invert(1);
    background-color: var(--money-color);
    border: 3px dashed black;
    cursor: pointer;
}
.buy-button:hover{
    animation: buy-button-hover .5s cubic-bezier(0.48, 0.99, 0.74, 0.99) infinite alternate-reverse;    
}

@keyframes buy-button-hover{
    0%{
        color: rgb(0, 177, 0);
        border-color: currentColor;
    }
    100%{
        color: black;
        border-color: currentColor
    }
}

#dice-menu-grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.die-container{
    margin: 10%;
    display: grid;
    grid-template-rows: repeat(3, 100%);
    grid-template-columns: 33% 33% 33%;
}
.die-square{
    font-size: .8em;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 2%;
}